/* Template style for SIMS products */

/* Base body style */
body {
    font-family: 'Gotham-Light', sans-serif;
    font-weight: 350;
    margin-bottom:20px;
}

  
/* Red Headings */
h1,h2 {
    color:#B71C1C;
}

h1 {
  font-weight: bold;
  margin-top: 10px;
}

h2 {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 40px;
  text-decoration: underline;
}

/* Red hyperlinks */
a {
    color:#B71C1C;
}

a:hover {
    color:#B71C1C;
}

.container {
	width: 80%;
}

.text-center {
  margin-top: 0px;
}

.titledesc{
    font-size:1.1em;
}

.source {
  font-size: .9em;
  font-style: italic;
  color: gray;
}

p {
    font-size:1.2em;
    text-align: justify;
}

.rightfloat {
    float:right;
}

.rightalign {
	text-align: right;
}

.desc {
  font-size: .8em;
}

.keyfiguredesc {
    font-size:1.5em;
}

.keyfigure {
    color: #B71C1C;
    font-size:60px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.data {
    font-size:1em;
    padding-bottom:10px;
}

.keyfigureunit {
    font-size:0.5em;
    color:#000;
}

.title {
    margin-top:20px;
    margin-bottom:20px;
    background-color:#eee;
}

#image {
    margin-top:20px;
}

.spark {
    padding-left:10px;
}

.margintop30 {
    margin-top:30px;
}

.margintop20 {
    margin-top:20px;
}

.margintop10 {
    margin-top:10px;
}

#graphs {
    min-height:800px;
}

.nav_content {
  margin-left: 15px;
  margin-right: 15px;
}

#map {
  height: 80%;
}

main {
  margin-top: 60px;
  vmax: 80vh;
}

.navbar-right {
  margin-top: 5px;
}

#logo {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15;
  padding-left: 0;
}

.btn {
  background: #e60000;  /* button colour */
  color: #ffffff;     /* text colour */
  border: #e60000;
  font-weight: bold;
  font-size: 1.2em;
  padding: 15px;
  border-radius: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.btn-primary:hover, .btn-primary:focus {
  background: #e60000;
  color: #ffffff;
}

.row {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.btn-a {
  color: #ffffff;
}

.btn-header {
  font-size: 1em;
  margin-right:10px;
  margin-top:10px;
  padding:5px;
}

.img-head {
  margin-top: 15px;
  border-radius: 10px;
}

footer {
  margin-top: 15px;
}

.map-text {
  margin: 15px;
  font-size: .85em;
}

.col-cat {
  width:25%;
}

.figure {
  float:right;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0px;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

.btn-header {
  color: #ffffff;
  margin-top:10px;
  padding:5px;
}