/* Template style for SIMS products */

/* Base body style */
body {
  font-family: 'Gotham-Light', sans-serif;
  font-weight: 350;
}

/* Red Headings */
h1,h2 { color:#B71C1C; font-weight: bold; }

/* Page Title Heading */
.navbar-header > h1 { margin-top:10px; }

/* H2 Headings */
h2 { font-size: 1.5em; margin-top:0px;}

/* H3 Headings */
h3 { font-size: 1.25em; font-weight: bold; }

/* Red Hyperlinks */
a       { color:#B71C1C; }
a:hover { color:#B71C1C; }

.container {
  width: 97%;
}

/* Buttons */
.btn-md,.btn-sm {
  background: #e60000;  /* button colour */
  color: #ffffff;     /* text colour */
  border: #e60000;
  font-weight: bold;
  font-size: .9em;
  padding: 5px;
  border-radius: 10px;
}

.navbar-default .navbar-nav > li > a.btn-md.btn-sm {
  margin-top: 15px;
  color: #ffffff;
  padding: 5px;
}

.navbar-default .navbar-nav > li > a.btn-md.btn-sm:focus,
.navbar-default .navbar-nav > li > a.btn-md.btn-sm:hover {
  background: #e60000;
  color: ##B71C1C;
}

.figure {
  float: right;
  font-weight: bold;
  color: #B71C1C;
}

.img-center { margin:0 auto; border-radius:10px; }

main { margin-top: 75px; }

p { font-size: .9em; }

/* Breakpoints */
@media (min-width: 963px) and (max-width: 1090px) { main { margin-top: 80px; } }
@media (min-width: 760px) and (max-width: 962px) { main { margin-top: 130px; } }
@media (min-width: 615px) and (max-width: 759px) { main { margin-top: 70px; } .img-center { margin-top: 10px; margin-bottom: 10px;} }
@media (min-width: 400px) and (max-width: 614px) { main { margin-top: 110px; } .img-center { margin-top: 10px; margin-bottom: 10px;} }
@media (max-width: 399px) { main { margin-top: 150px; } }
