/* Template style for SIMS products */

/* Base body style */
body {
    font-family: 'Gotham-Light', sans-serif;
    font-weight: 350;
    margin-bottom:20px;
}

/* Red Headings */
h1,h2 {
    color:#B71C1C;
}

h1 {
  font-weight: bold;
  margin-top: 10px;
}

/* Red hyperlinks */
a {
    color:#B71C1C;
}

a:hover {
    color:#B71C1C;
}

.container {
	width: 80%;
}

.titledesc{
    font-size:1.1em;
}

.source {
  font-size: .9em;
  font-style: italic;
  color: gray;
}

p {
    font-size:1.2em;
    text-align: justify;
}

.rightfloat {
    float:right;
}

.rightalign {
	text-align: right;
}

.keyfiguredesc {
    font-size:1.5em;
}

.keyfigure {
    color: #B71C1C;
    font-size:60px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.data {
    font-size:1em;
    padding-bottom:10px;
}

.keyfigureunit {
    font-size:0.5em;
    color:#000;
}

.title {
    margin-top:20px;
    margin-bottom:20px;
    background-color:#eee;
}

#image {
    margin-top:20px;
}

.spark {
    padding-left:10px;
}

.margintop30 {
    margin-top:30px;
}

.margintop20 {
    margin-top:20px;
}

.margintop10 {
    margin-top:10px;
}

#graphs {
    min-height:800px;
}

.nav_content {
  margin-left: 15px;
  margin-right: 15px;
}

#map {
  height: 500px;
}

main div {
  margin-top: 40px;
}

.navbar-right {
  margin-top: 5px;
}

#logo {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15;
  padding-left: 0;
}
